<div class="recipe_photo">
<form method="post">
    <input type="file">
</form>
</div>
<div class="recipe_description">
<form method="post">
    <p>あと60文字</p>
    <textarea></textarea>
    <button type="submit">保存</button>
</form>
</div>
<div class="recipe_ingredients">
   <p>材料クリックして材料を入力してね</p>
</div>
<div class="recipe_procedure">
   <div>
   </div>
   <div>
   </div>
   <div>
   </div>
   <div>
   </div>
</div>
