{% extends 'layout.twig' %}
{% block content %}
<script type='text/javascript' src='../js/recipe/post.js'></script>
<h1>レシピを書いてね</h1>
<form>
    <h3>レシピのタイトル</h3>
    <input type="text" id="recipe_field" name="recipe_name">
    <br>
    <input type="submit" id="recipe_submit" value="材料・作り方の入力をするんだぴょん" disabled="disabled">
</form>
{% endblock content %}
